body {
  font-family: "Roboto", sans-serif;
  color: #000;
  text-align: center;
  width: 100%;
  max-width: 768px;
  min-width: 250px;
  margin: auto;
}

h2 {
  text-align: left;
}

.restaurants__titre {
  margin-left: 40px;
}

.fonctionnement__titre {
  margin-left: 40px;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

button, input, select {
  margin: 0;
}

.img-logo {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.form__boutton {
  border-radius: 20px 20px 20px 20px;
  color: white;
  border: none;
  width: 170px;
  height: 40px;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
}

.aime__animation, .restaurant__aime input:checked ~ .aime__coeur, .restaurant__aime input:hover ~ .aime__coeur {
  background: -webkit-linear-gradient(90deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
}

.aime__coeur {
  color: rgb(255, 255, 255);
  opacity: 0;
  z-index: 2;
  transition: opacity 1s;
}

.aime__position {
  position: absolute;
}

.restaurant__aime {
  display: inline-block;
  position: relative;
  top: -90px;
  text-align: right;
  width: 80%;
}

.restaurant__aime input {
  visibility: hidden;
}

.label--width {
  width: 50%;
}

.menu-aime {
  padding-top: 50px;
}

.recette__validation {
  background-color: #99e2d0;
  color: #FFF;
  font-size: 20px;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  width: 100px;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  margin: auto;
}

.recette__titre-description {
  font-size: 1rem;
  white-space: nowrap;
  flex: 1;
  text-align: left;
  padding: 10px 5px 0 10px;
}
.recette__titre-description > h3 {
  margin: 5px 0;
}

.recette__prix-validation {
  font-size: 1rem;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
}
.recette__prix-validation > p {
  margin-top: 45px;
  margin-right: 10px;
}

.recette__description {
  margin: 0;
}

.menu__recette {
  background-color: white;
  font-size: 20px;
  border-radius: 20px 20px 20px 20px;
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.137);
  width: 80%;
  display: flex;
  height: 80px;
  margin: 50px auto;
}

.header__heading {
  white-space: nowrap;
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 10px;
  text-align: start;
  width: 50%;
}

.main-menu__header {
  width: 100%;
}

.header-omf__logo {
  width: 100%;
  max-width: 200px;
  margin: auto;
  padding: 10px 0;
}

.header-omf__retour {
  position: absolute;
  text-align: left;
}

.main__restaurants {
  background-color: #F6F6F6;
}

.restaurants__menu {
  background-color: white;
  width: 90%;
  margin: 40px auto;
  align-content: center;
  border-radius: 40px;
  overflow: hidden;
}

.menu__lien {
  width: auto;
  margin: auto;
}

.lien__carte {
  width: 100%;
  margin: 40px auto;
}

.carte__image {
  margin-top: -40px;
  height: 200px;
  width: 100%;
}

.carte__titre {
  text-align: left;
}

.img--width {
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.main__fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.fonctionnement__indication {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  padding: 20px;
  width: 40%;
  border-radius: 100px;
  box-shadow: 5px 2px 15px rgba(0, 0, 0, 0.16);
}

.indication__index {
  color: white;
  height: 20px;
  background-color: #9356DC;
  padding: 5px 10px;
  border-radius: 50%;
  margin: auto 20px auto -30px;
}

.indication__aide {
  margin: auto;
}

.indication__icone {
  margin: auto 20px auto 0;
}

.main-menu {
  border-radius: 40px 40px 0 0;
  position: relative;
  background-color: #F6F6F6;
  padding-top: 50px;
  margin-top: -100px;
  z-index: 4;
}

.food__form {
  background-color: #F6F6F6;
  padding-bottom: 20px;
}

.form__localisation {
  background-color: #EAEAEA;
  padding: 20px;
}

.form__localisation input {
  background-color: #EAEAEA;
  text-align: center;
  border: none;
}

.form__localisation ::placeholder {
  opacity: 1;
  color: black;
}

footer {
  background: #353535;
  color: #FFF;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.food-footer__titre {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  font-size: 18px;
  text-transform: lowercase;
  margin-left: 40px;
  margin-bottom: 10px;
}

.food-footer__nav {
  text-align: left;
}

li {
  list-style: none;
  margin-bottom: 10px;
}
li a:hover {
  color: #cccccc;
}
li i {
  margin-right: 5px;
  font-size: 16px;
}

/*# sourceMappingURL=ohmyfood_style.css.map */
