#menu__recette-1 {
  opacity: 0;
  margin-top: 0;
  animation-name: apparition-menu;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-delay: 1s;
}

#menu__recette-2 {
  opacity: 0;
  margin-top: 0;
  animation-name: apparition-menu;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-delay: 1.5s;
}

#menu__recette-3 {
  opacity: 0;
  margin-top: 0;
  animation-name: apparition-menu;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-delay: 2s;
}

#menu__recette-4 {
  opacity: 0;
  margin-top: 0;
  animation-name: apparition-menu;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-delay: 2.5s;
}

#menu__recette-5 {
  opacity: 0;
  margin-top: 0;
  animation-name: apparition-menu;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-delay: 3s;
}

#menu__recette-6 {
  opacity: 0;
  margin-top: 0;
  animation-name: apparition-menu;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-delay: 3.5s;
}

#menu__recette-7 {
  opacity: 0;
  margin-top: 0;
  animation-name: apparition-menu;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-delay: 4s;
}

#menu__recette-8 {
  opacity: 0;
  margin-top: 0;
  animation-name: apparition-menu;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-delay: 4.5s;
}

#menu__recette-9 {
  opacity: 0;
  margin-top: 0;
  animation-name: apparition-menu;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-delay: 5s;
}

#menu__recette-10 {
  opacity: 0;
  margin-top: 0;
  animation-name: apparition-menu;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-delay: 5.5s;
}

@keyframes apparition-menu {
  from {
    opacity: 0;
    margin-top: 5px;
  }
  to {
    opacity: 1;
    margin-top: 0px;
  }
}
:root {
  font-size: 20px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000;
  text-align: center;
  width: 100%;
  max-width: 600px;
  min-width: 320px;
  margin: auto;
  overflow-x: hidden;
}
@media (min-width: 600px) {
  body {
    min-width: 600px;
    max-width: 992px;
    width: 100%;
  }
}
@media (min-width: 992px) {
  body {
    min-width: 992px;
    max-width: 2000px;
    width: 100%;
  }
}

h2 {
  text-align: left;
  font-size: 1rem;
}

.restaurants__titre {
  padding-top: 0;
  text-align: left;
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
  width: 80%;
}

.fonctionnement__titre {
  margin-top: 40px;
  margin-left: 40px;
  text-align: left;
  width: 80%;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

button, input, select {
  margin: 0;
}

.img-logo {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (min-width: 600px) {
  .food__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .food__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
}

.form__boutton {
  border-radius: 20px 20px 20px 20px;
  color: white;
  border: none;
  width: 170px;
  height: 40px;
  background: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
  transition: opacity 0.5s;
  margin: 20px;
}

.form__boutton:hover {
  opacity: 0.5;
}

.header__banniere {
  height: 300px;
}

.aime--menu-position {
  position: relative;
  right: 10px;
}
@media (min-width: 600px) {
  .aime--menu-position {
    left: 70%;
    top: -20px;
  }
}
@media (min-width: 992px) {
  .aime--menu-position {
    left: 80%;
    top: -20px;
  }
}

.aime__coeur {
  background: -webkit-linear-gradient(90deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  z-index: 2;
  transition: opacity 1s;
}

.aime__position {
  position: absolute;
  right: 5px;
  top: 0px;
}
@media (min-width: 600px) {
  .aime__position {
    right: 20px;
    top: -30px;
  }
}
@media (min-width: 992px) {
  .aime__position {
    right: 30px;
    top: -30px;
  }
}

.restaurant__aime {
  display: block;
  width: auto;
  position: absolute;
  top: -50px;
  right: 0;
  font-size: 0.8rem;
}
@media (min-width: 600px) {
  .restaurant__aime {
    float: right;
    left: 150px;
    top: 0px;
    font-size: 0.8rem;
  }
}
@media (min-width: 992px) {
  .restaurant__aime {
    float: right;
    left: 150px;
    top: 0px;
    font-size: 0.8rem;
  }
}

.restaurant__aime:hover .aime__coeur {
  opacity: 1;
}

.label--width {
  width: 50%;
}

.menu-aime {
  padding-top: 0;
}

.recette__validation {
  background-color: #99e2d0;
  color: #FFF;
  font-size: 1rem;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 20%;
  margin-right: -20%;
  max-width: 100px;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  z-index: 1;
  transition: margin-right 1s;
  overflow: hidden;
  cursor: pointer;
}

.cadre-check {
  margin: auto;
  position: relative;
  width: 30px;
  height: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  z-index: 1;
  transition: transform 1s;
  overflow: hidden;
}

.fa-check {
  color: #99E2D0;
  margin: auto;
  align-self: center;
  vertical-align: middle;
  padding-top: 2px;
}

.recette__titre-description {
  font-size: 1rem;
  white-space: nowrap;
  flex: 1;
  text-align: left;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 10px 5px 0 10px;
  transition: width 1s;
}
.recette__titre-description > h3 {
  margin: 5px 0;
}

.recette__titre-description > h3 {
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu__recette:hover .recette__titre-description {
  width: 30%;
}
.menu__recette:hover .recette__validation {
  margin-right: 0px;
}
.menu__recette:hover .recette__validation .cadre-check .check--position {
  transform: rotate(-360deg);
}

.menu__recette {
  cursor: pointer;
}

.check--position {
  transform: rotate(200deg);
  transition: transform 1s;
}

.recette__description {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.recette__prix {
  font-size: 1rem;
  position: relative;
  right: 10px;
  top: 28px;
  font-weight: 700;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 600px) {
  .menu {
    width: 60%;
    align-self: center;
  }
}
@media (min-width: 992px) {
  .menu {
    width: 30%;
    align-self: flex-start;
  }
}
.menu__recette {
  background-color: white;
  font-size: 1rem;
  border-radius: 20px 20px 20px 20px;
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.137);
  width: 90%;
  max-width: 400px;
  min-width: 200px;
  display: flex;
  height: 80px;
  margin: auto;
  overflow: hidden;
}
@media (min-width: 600px) {
  .menu__recette {
    width: 90%;
    max-width: 650px;
    min-width: 100px;
  }
}
@media (min-width: 992px) {
  .menu__recette {
    width: 90%;
    max-width: 390px;
    min-width: 200px;
  }
}

.menumain__validation {
  position: relative;
  width: 100%;
}
@media (min-width: 600px) {
  .menumain__validation {
    margin: 20px auto;
  }
}
@media (min-width: 992px) {
  .menumain__validation {
    margin: 20px auto;
  }
}

@media (min-width: 600px) {
  .main-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
}
@media (min-width: 992px) {
  .main-menu {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
}
@media (min-width: 600px) {
  .main-menu > h1 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .main-menu > h1 {
    width: 100%;
  }
}

#objet {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  flex-direction: row;
  visibility: hidden;
  justify-content: center;
  -webkit-justify-content: center;
  background-color: white;
  animation-name: loader;
  animation-duration: 3s;
}

@keyframes loader {
  0% {
    visibility: visible;
    opacity: 1;
    background-color: white;
    opacity: 1;
  }
  65% {
    visibility: visible;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 1;
  }
  80% {
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 1;
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
    visibility: visible;
    opacity: 0;
  }
}
.letter {
  font-size: 3rem;
  color: #353535;
  font-family: "Shrikhand", cursive;
  text-transform: lowercase;
  font-weight: lighter;
}

.box {
  display: flex;
}

.space {
  padding-right: 40px;
}

.space2 {
  padding-right: 15px;
}

.objet_cercle,
.objet_interne,
.objet_centre {
  border-radius: 50%;
}

.objet_cercle,
.objet_interne,
.objet_centre {
  flex: none;
}

.letter,
.objet_cercle {
  align-self: center;
}

.objet_cercle {
  align-items: right;
  justify-content: right;
  height: 50px;
  width: 50px;
  background-color: #FF79DA;
}

.objet_interne {
  align-self: center;
  -ms-align-self: center;
  justify-content: center;
  -ms-justify-content: center;
  height: 50%;
  width: 50%;
  background-color: #9356DC;
  animation-name: objetAnimate;
  animation-duration: 500ms;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.objet_centre {
  align-self: center;
  -ms-align-self: center;
  height: 25%;
  width: 25%;
  background-color: #353535;
  animation-name: centreAnimate;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes objetAnimate {
  to {
    height: 90%;
    width: 90%;
  }
}
@keyframes objetAnimate {
  to {
    height: 90%;
    width: 90%;
  }
}
@keyframes centreAnimate {
  to {
    height: 90%;
    width: 90%;
  }
}
@keyframes centreAnimate {
  to {
    height: 90%;
    width: 90%;
  }
}
.header__heading {
  white-space: nowrap;
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  font-size: 1.5rem;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 10px;
  text-align: start;
  width: 50%;
}

.main-menu__header {
  width: 100%;
}

.menu__titre {
  width: 40px;
  text-transform: uppercase;
  font-weight: 400;
  border-bottom: 5px solid #99E2D0;
  margin-left: 20px;
  margin-top: 40px;
}

.header-omf__logo {
  width: 100%;
  max-width: 200px;
  margin: auto;
  padding: 10px 0;
}

.header-omf__retour {
  position: absolute;
  text-align: left;
}

.main__restaurants {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  margin: 0;
}
@media (min-width: 600px) {
  .main__restaurants {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    order: 3;
    padding-left: 0;
    padding-right: 0;
    flex: 1.5;
    min-width: 390px;
  }
  .main__restaurants > h2 {
    text-align: center;
  }
}
@media (min-width: 600px) and (min-width: 992px) {
  .main__restaurants {
    background-color: #F6F6F6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    order: 3;
    padding-left: 0;
    padding-right: 0;
    flex: 1;
  }
  .main__restaurants > h2 {
    text-align: center;
    font-size: 2rem;
    width: 100%;
  }
}

.restaurants__menu {
  background-color: white;
  width: 90%;
  margin: auto;
  align-content: center;
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 5px 2px 15px rgba(0, 0, 0, 0.16);
}
@media (min-width: 600px) {
  .restaurants__menu {
    background-color: #F6F6F6;
    box-shadow: 5px 2px 15px rgba(0, 0, 0, 0.16);
    width: 40%;
    min-width: 180px;
    font-size: medium;
  }
}
@media (min-width: 992px) {
  .restaurants__menu {
    box-shadow: 5px 2px 15px rgba(0, 0, 0, 0.16);
    width: 45%;
    height: 15%;
  }
}

.menu__lien {
  width: auto;
  margin: auto;
}

.lien__carte {
  width: 100%;
  margin: auto;
}

.carte__image {
  position: relative;
  margin-top: -40px;
  height: 200px;
  width: 100%;
}
@media (min-width: 600px) {
  .carte__image {
    height: 160px;
  }
}

.image__nouveau {
  background-color: #99E2D0;
  border-radius: 5px;
  font-size: medium;
  color: #278870;
  font-weight: 700;
  position: absolute;
  padding: 5px 15px;
  top: 50px;
  right: 20px;
  z-index: 5;
}

.carte__titre {
  text-align: left;
  margin: 15px;
}

.titre__h2 {
  margin: 0;
  padding: 0;
}
@media (min-width: 600px) {
  .titre__h2 {
    font-size: medium;
  }
}
@media (min-width: 992px) {
  .titre__h2 {
    font-size: larger;
  }
}

.titre__description {
  margin: 0;
  padding: 0;
}

.img--width {
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.main__fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
@media (min-width: 600px) {
  .main__fonctionnement {
    justify-content: space-between;
    align-content: space-between;
    margin-top: 0;
    height: 500px;
    order: 2;
    flex: 1;
  }
  .main__fonctionnement > h2 {
    margin-top: 20px;
    text-align: center;
  }
}
@media (min-width: 600px) and (min-width: 992px) {
  .main__fonctionnement {
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    gap: 5%;
    margin-top: 0;
    flex: 1;
    width: 90%;
  }
  .main__fonctionnement > h2 {
    margin: auto;
    padding: 20px;
    text-align: left;
    font-size: 1rem;
    flex: 0.2;
  }
}

.fonctionnement__indication {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  padding: 10px 20px;
  width: 70%;
  border-radius: 100px;
  box-shadow: 5px 2px 15px rgba(0, 0, 0, 0.16);
  font-size: 0.8rem;
  font-weight: 600;
}
@media (min-width: 992px) {
  .fonctionnement__indication {
    width: 100%;
  }
}

.fonctionnement__indication--rose {
  background-color: rgba(147, 86, 220, 0.3);
  color: #9356DC;
}

.indication__index {
  color: white;
  height: 20px;
  background-color: #9356DC;
  padding: 5px 10px;
  border-radius: 50%;
  margin: auto 20px auto -30px;
}

.indication__aide {
  margin: auto;
  color: black;
}

.indication__icone {
  margin: auto 20px auto 0;
}

.main-menu {
  border-radius: 40px 40px 0 0;
  position: relative;
  background-color: #F6F6F6;
  padding-top: 50px;
  margin-top: -100px;
  z-index: 4;
}
@media (min-width: 600px) {
  .main-menu {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 992px) {
  .main-menu {
    display: flex;
    flex-direction: row;
  }
}

.food__form {
  background-color: #F6F6F6;
  padding-bottom: 20px;
}
@media (min-width: 600px) {
  .food__form {
    order: 1;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .food__form {
    width: 100%;
  }
}

.form__localisation {
  background-color: #EAEAEA;
  padding: 20px;
}

.form__localisation input {
  background-color: #EAEAEA;
  text-align: center;
  border: none;
}

.form__localisation ::placeholder {
  opacity: 1;
  color: black;
}

.form__titre {
  width: 80%;
  margin: 20px auto;
  font-size: 1.5rem;
}

footer {
  background: #353535;
  color: #FFF;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.food-footer__titre {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  font-size: 1.5rem;
  text-transform: lowercase;
  margin-left: 40px;
  margin-bottom: 10px;
  margin-top: 0;
  padding-top: 20px;
}

.food-footer__nav {
  text-align: left;
}

@media (min-width: 600px) {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-right: 20px;
    gap: 20px;
  }
}
@media (min-width: 992px) {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
  }
}

li {
  list-style: none;
  margin-bottom: 10px;
}
li a:hover {
  color: #cccccc;
}
li i {
  margin-right: 5px;
  font-size: 16px;
}

/*# sourceMappingURL=ohmyfood_style.css.map */
