
.main__restaurants{
    background-color: $gray-light;

}
.restaurants__menu{
    background-color: white;
    width:90%;
    margin:40px auto;
    align-content: center;
    border-radius: 40px;
    overflow: hidden;
}

.menu__lien{
    width:auto;
    margin:auto;
    
}
.lien__carte{
    width:100%;
    margin:40px auto;
}

.carte__image{
    margin-top:-40px;
height: 200px;
width: 100%;
}

.carte__titre{
    text-align:left;

}

.img--width{

    width: 100%;
   

    height: 300px;
   
   
    z-index: 0;
}


.main__fonctionnement{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
    
}
.fonctionnement__indication{
    background-color: $gray-light;
    display:flex;
    flex-direction: row;
    margin:20px auto;
    padding:20px;
    width:40%;
    border-radius: 100px;
    box-shadow: 5px 2px 15px rgba(0, 0, 0, 0.16);
}
.indication__index{
    color:white;
    height:20px;
    background-color: $color-primary;
    padding:5px 10px;
    border-radius: 50%;
    margin:auto 20px auto -30px;
}

.indication__aide{
    margin:auto;

}

.indication__icone{
    margin:auto 20px auto 0;
}

.main-menu{
    border-radius: 40px 40px 0 0;
  
   position: relative;


background-color:$gray-light ;
padding-top: 50px;
margin-top: -100px;
z-index: 4;
}