.main__restaurants {
  background-color: $gray-light;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  margin: 0;
  @include responsive("tablet"){
    background-color: white;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    order:3;
    padding-left:0;
    padding-right:0;
    flex:1.5;
    min-width: 390px;
    &>h2{
      text-align: center;
    }
    @include responsive("desktop"){
    background-color: $gray-light;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    order:3;
    padding-left:0;
    padding-right:0;
    flex:1;
    &>h2{
      text-align: center;
      font-size: 2rem;
      width:100%;
    }
  }
}}
.restaurants__menu {
  background-color: white;
  width: 90%;
  margin: auto;
  align-content: center;
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 5px 2px 15px rgba(0, 0, 0, 0.16);
  @include responsive("tablet"){
    background-color: $gray-light;
    box-shadow: 5px 2px 15px rgba(0, 0, 0, 0.16);
    width: 40%;
    min-width:180px;
    font-size: medium;
  }
  @include responsive("desktop"){
    box-shadow: 5px 2px 15px rgba(0, 0, 0, 0.16);
    width: 45%;
    height:15%;
  }
}

.menu__lien {
  width: auto;
  margin: auto;
}
.lien__carte {
  width: 100%;
  margin: auto;
}

.carte__image {
  position:relative;
  margin-top: -40px;
  height: 200px;
  width: 100%;
  @include responsive(tablet){
    height:160px;
  }
}
.image__nouveau{
  background-color: $color-tertiary;
  border-radius: 5px;
  font-size: medium;
  color: adjust-color($color-tertiary, $lightness: -40%);
  font-weight:700;
  position:absolute;
  padding:5px 15px;
  top:50px;
  right:20px;
  z-index: 5;

}
.carte__titre {
  text-align: left;
  margin: 15px;
  
}
.titre__h2 {
  margin: 0;
  padding: 0;
  @include responsive("tablet"){
    
    font-size: medium;
  }
  @include responsive("desktop"){
    
    font-size: larger;
  }
}
.titre__description {
  margin: 0;
  padding: 0;
}
.img--width {
  object-fit: cover;
  width: 100%;
  height: 100%;

  z-index: 0;
}

.main__fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  @include responsive("tablet"){
    justify-content: space-between;
    align-content: space-between;
    margin-top: 0;
    height:500px;
    order:2;
    flex:1;
    &>h2{
      margin-top:20px;
      text-align: center;
    }
    @include responsive("desktop"){
      flex-direction: row;
      justify-content: space-between;
    align-content: space-between;
    gap:5%;
    margin-top: 0;
    flex:1;
    width:90%;
    &>h2{
      margin:auto;
      padding:20px;
      text-align: left;
      font-size:1rem;
      flex:0.2;
    }
    }
}

}
.fonctionnement__indication {
  background-color: $gray-light;
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  padding: 10px 20px;
  width: 70%;
  border-radius: 100px;
  box-shadow: 5px 2px 15px rgba(0, 0, 0, 0.16);
  font-size: 0.8rem;
  font-weight: 600;
  @include responsive("desktop"){
    width:100%;
  }
}

.fonctionnement__indication--rose {
  background-color: adjust-color($color-primary, $alpha: -0.7);
  color: $color-primary;
}

.indication__index {
  color: white;
  height: 20px;
  background-color: $color-primary;
  padding: 5px 10px;
  border-radius: 50%;
  margin: auto 20px auto -30px;
}

.indication__aide {
  margin: auto;
  color: black;
}

.indication__icone {
  margin: auto 20px auto 0;
}

.main-menu {
  border-radius: 40px 40px 0 0;
  position: relative;
  background-color: $gray-light;
  padding-top: 50px;
  margin-top: -100px;
  z-index: 4;
  
}
