.food__form {
background-color: $gray-light;
 padding-bottom:20px;
}

.form__localisation{
background-color: $gray-medium;
padding:20px;}

.form__localisation input{
    background-color: $gray-medium;
    text-align: center;
    border:none;
}
.form__localisation ::placeholder{
    opacity: 1;
    color:black;
}

.form__titre{
    width:80%;
    margin:20px auto;
    font-size: 1.5rem;
}